.resetBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#btn{
    width: 100px;
    height: 100px;
}
.mom{
    display: flex;
    justify-content: center;
}
.childOne {
    display: grid;
}
.childTwo{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rebeccapurple;
}